
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
 *{
  font-family: 'Almarai', sans-serif;
  font-family: 'Cairo', sans-serif;
} 
body {
  font-family: "Open Sans", sans-serif;
  color: #444;
}

a {
  color: #816D4A;
  text-decoration: none;
}

a:hover {
  color: #C4AE7C;
  text-decoration: none;
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #EEE8DA;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #C4AE7C;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999;
  color: #816D4A;
  
}

#spinner.show {
  transition: opacity .5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 80px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: #f3f3f3;
}

#header.header-transparent {
  background: none;
  background: rgb(242, 242, 242);
}

#header.header-scrolled {
  background: rgb(243, 243, 243,0.9);
  height: 60px;
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  padding: 4px 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 60px;
  padding-left: 18px;
  padding-bottom: 6px;
  padding-top: 6px;

}

#main {
  margin-top: 80px;
}

/*--------------------------------------------------------------
# Desktop Navigation 
--------------------------------------------------------------*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  padding-right: 18px;
}


.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 14px;
  color:#3E3E41;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #C4AE7C;
}

/*--------------------------------------------------------------
# Mobile Navigation  
--------------------------------------------------------------*/
.mobile-nav-toggle {
  color: #C4AE7C;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;

}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display:block;
   
  }

  .navbar ul {
    display: none;
    list-style-type: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgb(238, 232, 218,0.9);
  transition: 0.3s;
  text-align: center
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
}

.navbar-mobile ul {
  display:block;
  position: absolute;
  top: 55px;
  right: 65px;
  left: 65px;
  bottom: 400px;
  background-color: #fff;
  transition: 0.3s;
  text-align: center;
  padding: 25px;  
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #3E3E41;
  margin-bottom: 10px;
  align-items: center;

}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #dccba3;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 90vh;
  overflow: hidden;
  position: relative;
}

#hero .vedioback{
  margin: 0%; padding: 0%; box-sizing: border-box;
   position: absolute;
   left: 0%; top: 0%; right: 0;
   width: 100%;; height: 90%;
   border-radius: 0 0 45% 45%; 
   object-fit: cover;
   z-index: -1; 
   margin-left: -5%;
  }
  
  #hero::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 200%;
    height: 96%;
    background: #b1a992;
    opacity: 0.7;
    z-index: 0;
    border-radius: 0 0 45% 50%;
    transform: translateX(-50%) translateY(18px) rotate(2deg);
  }
  
  #hero .carousel-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    bottom: 0;
    top: 0;
    left: 0%;
    right: 0;
    width: 110%;
    height: 100vh;
    margin: 0; padding: 0;
  } 

#hero h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
}

#hero p {
  width: 80%;
  animation-delay: 0.4s;
  margin: 0 auto 30px auto;
  color: #fff;
}

#hero .carousel-control-prev,
#hero .carousel-control-next {
  width: 10%;
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
  background: none;
  font-size: 48px;
  line-height: 1;
  width: auto;
  height: auto;
}

#hero .btn-get-started {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  animation-delay: 0.8s;
  border: 2px solid #C4AE7C;
}

#hero .btn-get-started:hover {
  background: #C4AE7C;
  color: #fff;
  text-decoration: none;
}

/*--------------------------------------------------------------
Gallary Section
--------------------------------------------------------------*/
.carousel-inner > .item > img {
  width:640px;
  height:300px;
}

/*contant*/
.field{
	width: 80%;
	padding: 0.5rem 1rem;
	outline: none;
	border: 2px solid rgba(0,0,0,0);
	background-color: rgba(230,230,230,0.6);
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}
.field:hover{
	background-color: rgba(0,0,0,0.1);

}
.field:focus{
	background-color: #fff;
	border: 2px solid #816D4A;
}
.area{
	min-height: 150px;
}

/*-----------------------------------
# Values Section
--------------------------------------------------------------*/

.valuesicon{
  font-size: 2rem; color:#ffffff;  padding: 0.5rem 1.5rem; margin-bottom: 2rem;
  background-color:#C4AE7C; max-width: 4rem; border-radius: 1rem; 
}
/* animation grow */
.grow { transition: all .2s ease-in-out; }
.grow:hover { 
  transform: scale(1.1);
	border: 2px solid #f3f3f3;
}

/*-----------------------------------
# Services Section
--------------------------------------------------------------*/
body{
  margin-top:20px;
  background:#eee;
}
.card::after {
  display: block;
  position: absolute;
  bottom: -10px;
  left: 20px;
  width: calc(100% - 40px);
  height: 35px;
  background-color: #fff;
  -webkit-box-shadow: 0 19px 28px 5px rgba(64,64,64,0.09);
  box-shadow: 0 19px 28px 5px rgba(64,64,64,0.09);
  content: '';
  z-index: -1;
}
a.card {
  text-decoration: none;
}

.card {
  position: relative;
  border: 0;
  border-radius: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09);
  box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09);
}
.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,0.125);
  border-radius: 0.5rem;
}

.box-shadow {
  -webkit-box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09) !important;
  box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09) !important;
}

.ml-auto, .mx-auto {
  margin-left: auto !important;
}
.mr-auto, .mx-auto {
  margin-right: auto !important;
}
.rounded-circle {
  border-radius: 50% !important;
}
.bg-white {
  background-color: #fff !important;
}

.ml-auto, .mx-auto {
  margin-left: auto !important;
}

.mr-auto, .mx-auto {
  margin-right: auto !important;
}
.d-block {
  display: block !important;
}
img, figure {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.card-text {
  padding-top: 12px;
  color: #8c8c8c;
}

.text-sm {
  font-size: 12px !important;
}
p, .p {
  margin: 0 0 16px;
}

.card-title {
  margin: 0;
  font-size: 18px;
  font-weight: 900;
}

.pt-1, .py-1 {
  padding-top: .25rem !important;
}

.head-icon{
  margin-top:18px;
  color:#C4AE7C;
  font-size: 4rem;
}


/*-----------------------------------
# Contact Section
--------------------------------------------------------------*/
#contatti{
  letter-spacing: 1px;
  height: fit-content;
}
#contatti a{
  color: #fff;
  text-decoration: none;
}
@media (max-width: 575.98px) {

  #contatti{padding-bottom: 800px;}
  #contatti .maps iframe{
    width: 100%;
    height: 450px;
  }
 }

@media (min-width: 576px) {
  #contatti{padding-bottom: 800px;}

  #contatti .maps iframe{
     width: 100%;
     height: 450px;
  }
 }

@media (min-width: 768px) {

  #contatti{padding-bottom: 350px;}

  #contatti .maps iframe{
    width: 100%;
    height: 500px;
  }
}

@media (min-width: 992px) {
  #contatti{padding-bottom: 200px;}

   #contatti .maps iframe{
     width: 100%;
     height: 300px;
   }
}

#author a{
  color: #fff;
  text-decoration: none;    
}